<!-- Header -->
<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="color1" default-href="" text="" icon="arrow-back" routerLink="/landing"
        routerDirection="root">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <h1>LOGIN</h1>

  <div class="ion-padding">

    <form class="ion-padding" #form="ngForm" (ngSubmit)="onSubmit(form)">
        <ion-input type="email" placeholder="Email" [(ngModel)]="objeto.email" name="email" #email="ngModel" required
          email maxlength="300"></ion-input>
 
        <ion-input type="password" placeholder="Senha" [(ngModel)]="objeto.senha" name="senha" #senha="ngModel"
          minlength="6" required></ion-input>

        <ion-button type="submit">
          <ion-text><strong>SIGN IN</strong></ion-text>
        </ion-button>
    </form>
  </div>

  <div class="row">
    <ion-button fill="clear" color="color2" routerLink="/inscricao" routerDirection="root">
      Cadastre-se
    </ion-button>
  </div>
</ion-content>