
<ion-content id="inscricao" fullscreen>
    <h1>Inscrever-se</h1>

  <div class="ion-padding">
    <form class="ion-padding" #form="ngForm" (ngSubmit)="onSubmit(form)">
     
      <ion-input type="text" placeholder="Nome" [(ngModel)]="objeto.nome" name="nome" #nome="ngModel" required
        maxlength="200"></ion-input>

    
      <ion-input type="email" placeholder="Email" [(ngModel)]="objeto.email" name="email" #email="ngModel" required
        email maxlength="300"></ion-input>

      <ion-input type="password" placeholder="Senha" [(ngModel)]="objeto.senha" name="senha" #senha="ngModel"
        minlength="6" required></ion-input>

      <ion-button type="submit">
        <ion-text> cadastrar </ion-text>
      </ion-button>
    </form>
  </div>
</ion-content>